div.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: .5rem
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem
}

div.abt{
    height: 100%;
}

div.card {
    padding: 2rem
}

a, .icon {
    text-decoration: none;
    transition: .2s;
    color: #f178a1;
}


.btn{
    width: 13rem;
    height: 3rem;
    background-color: #1A1A1D;
    color: #f1e8d6;
    cursor: pointer;
    transition: .25s;
}

.btn:hover{
    background-color: #f1e8d6;
    color: #1A1A1D;
}

.icon:hover,
a:hover{
    color: #f1e8d6;
}

.btn{
    margin: 1%;
}
.fade-in-page {
  animation: fadein 0.5s ease-in forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}