main {
    padding: 5%;
    columns: 200px;
    column-gap: 20px;
    transition: all .5s;
    
    img {
        width: 100%;
        backface-visibility: hidden;
        border-radius: 25px;

        transition: .15s;
        cursor: pointer;
    }

    .imgcontainer {
        position: relative;
    }

    .imgcontainer p {
        font-size: 18px;
        letter-spacing: 2px;
        padding: 0 0 10px 0;
        text-decoration: underline;

        transition: opacity .15s;
        visibility: hidden;
        opacity: 0;
    }

    .imgcontainer:hover p {
        transition: opacity .15s;
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
  main {
    columns: 150px;
    column-gap: 20px;
  }
}


.custom-zoom [data-rmiz-modal-overlay="visible"] {
    background-color: #02070a8d; /* Custom background color */
}

.custom-zoom [data-rmiz-modal-overlay], 
.custom-zoom [data-rmiz-modal-img] {
    transition-duration: 0.5s; /* Custom animation speed */
}